<h1>Dragon Ball Z</h1>
<hr>

<div class="row">

    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li class="item">Krilin - 700</li>
            <li class="item">Goku - 800</li>
            <li class="item">Vegeta - 456505067</li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>

        <form (ngSubmit)="agregar()" >
            <input type="text" placeholder="Nombre">
            <input type="number" placeholder="Poder">
            <button>
                Agregar
            </button>
        </form>
        
    </div>

</div>